<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>POS System Layout</title>
    <!-- Подключаем общий CSS, шрифты, что нужно -->
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<header th:fragment="header" class="header">
    <nav class="nav">
        <div class="logo">404NotFoundTeam</div>
        <ul class="nav-links">
            <li><a th:href="@{/}" class="${activePage == 'cashregister'} ? 'active' : ''">Cash Register</a></li>
            <li><a th:href="@{/products}" class="${activePage == 'products'} ? 'active' : ''">Products</a></li>
            <li><a th:href="@{/receipts}" class="${activePage == 'receipts'} ? 'active' : ''">Receipts</a></li>
        </ul>
    </nav>
</header>

<footer th:fragment="footer" class="footer mt-5">
    <div class="container">
        <div class="text-center text-muted py-3">
            <p>&copy; 2025 404NotFoundTeam.</p>
        </div>
    </div>
</footer>

</body>
</html>
